@page "/"
@using Volo.Abp.MultiTenancy
@inherits StudentInfoManageComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <div class="p-5 text-center">
        <Badge Color="Color.Success" class="mb-4">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>StudentInfoManage</strong> is successfully running!</h5>
        </Badge>

        <h1>学生信息管理系统</h1>
        <h3>软件191周良宇</h3>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        @if ( !CurrentUser.IsAuthenticated )
        {
            <a class="btn btn-primary" href="/authentication/login">
                <i class="fa fa-sign-in-alt"></i> @L["Login"]
            </a>
        }
    </div>

    @* <div class="card"> *@
    @*     <div class="card-body"> *@
    @*         <div class="row"> *@
    @*             <div class="col-md-auto text-center"> *@
    @*                 <img src="https://file-1305871479.cos.ap-nanjing.myqcloud.com/4c96a18ef8e0f8ed572b80490a4c8155.jpg" style="max-width: 400px;" class="w-100 mb-5 my-md-3"> *@
    @*             </div> *@
    @*             <div class="col-md d-flex align-items-center"> *@
    @*                 <div class="pe-0 pe-md-4"> *@
    @*                     <small class="text-uppercase text-muted">Nantong University</small> *@
    @*                     <h2 class="mb-4">南通大学</h2> *@
    @*                     <p class="mb-4">南通大学（Nantong University），简称"通大"，位于江苏省南通市，学校始建于1912年，源自近代著名实业家、教育家、政治家张謇先生创办的私立南通医学专门学校和私立南通纺织专门学校。2004年5月经教育部批准，原南通医学院、南通工学院、南通师范学院三所省属公办本科院校合并组建新的南通大学。 *@
    @*                         </p> *@
    @*                     <div class="mb-4"> *@
    @*                         <a href="https://www.ntu.edu.cn/" class="btn btn-success mb-1"> *@
    @*                             前往南通大学官网 *@
    @*                         </a> *@
    @*                         $1$ <a href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242" class="btn btn-primary mb-1"> #1# *@
    @*                         $1$     Buy on PACKT #1# *@
    @*                         $1$ </a> #1# *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

    <div class="my-3 text-center">
        <h3>了解更多关于我</h3>
        <p>Here are some links about me</p>
    </div>

    <div class="card mt-4 mb-5">
        <div class="card-body">
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-pen-nib text-secondary d-block my-3 fa-2x"></i> 我的博客</h5>
                        <p>这是一个使用hexo框架搭建的主题博客，记录了我的一些敲代码的日常。</p>
                        <a href="https://blog.yuzai.xyz/" target="_blank" class="btn btn-link px-1">前往<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-cubes text-secondary d-block my-3 fa-2x"></i> NTUTOOLS</h5>
                        <p>个人独立开发的项目：一个基于 springboot 和 layui 的校园功能性网站，目前已拥有用户将近 700 人。</p>
                        <a href="https://ntutools.cn" target="_blank" class="btn btn-link px-1">前往<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            @*     <div class="col-lg-4 border-start"> *@
            @*         <div class="p-4"> *@
            @*             <h5 class="mb-3"><i class="fas fa-wifi text-secondary d-block my-3 fa-2x"></i>南通大学校园网自动连接</h5> *@
            @*             <p>模仿校园网登录页面写了一个获取自己的登陆链接地址的一个页面，支持安卓，苹果，windows，mac 的自动连接。</p> *@
            @*             <a href="https://blog.yuzai.xyz/archives/604781c3.html" target="_blank" class="btn btn-link px-1">前往 <i class="fas fa-chevron-right"></i></a> *@
            @*             $1$ <a href="https://docs.abp.io/en/abp/latest/Contribution/Index?ref=tmpl" target="_blank" class="btn btn-link px-1">Contribute <i class="fas fa-chevron-right"></i></a> #1# *@
            @*         </div> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="row text-center mt-lg-3 justify-content-md-center"> *@
            @*     <div class="col-lg-4"> *@
            @*         <div class="p-4"> *@
            @*             <h5 class="mb-3"><i class="fas fa-pen-nib text-secondary d-block my-3 fa-2x"></i> ABP Blog</h5> *@
            @*             <p>Take a look at our recently published articles.</p> *@
            @*             <a href="https://blog.abp.io/abp?ref=tmpl" target="_blank" class="btn btn-link px-1">See Blog <i class="fas fa-chevron-right"></i></a> *@
            @*         </div> *@
            @*     </div> *@
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fab fa-github text-secondary d-block my-3 fa-2x"></i> Github</h5>
                        <p>访问我的github主页</p>
                        <br><br/>
                       
                        <a href="https://github.com/yuzaii" target="_blank" class="btn btn-link px-1">前往 <i class="fas fa-chevron-right"></i></a>

                    </div>
                </div>
                @* <div class="col-lg-4 border-start"> *@
                @*     <div class="p-4"> *@
                @*         <h5 class="mb-3"><i class="fab fa-stack-overflow text-secondary d-block my-3 fa-2x"></i> Stackoverflow</h5> *@
                @*         <p>See answers to previously asked questions or ask a new one.</p> *@
                @*         <a href="https://stackoverflow.com/questions/tagged/abp" target="_blank" class="btn btn-link px-1">Questions <i class="fas fa-chevron-right"></i></a> *@
                @*         <a href="https://stackoverflow.com/questions/ask" target="_blank" class="btn btn-link px-1">Ask a Question <i class="fas fa-chevron-right"></i></a> *@
                @*     </div> *@
                @* </div> *@
            </div>
        </div>
    </div>

    @* <div class="mt-5 my-3 text-center"> *@
    @*     <h3>Meet the ABP Commercial</h3> *@
    @*     <p>A Complete Web Application Platform Built on the ABP Framework</p> *@
    @* </div> *@
    @* *@
    @* <div class="card mt-4 mb-5"> *@
    @*     <div class="card-body"> *@
    @*         <p class="px-lg-5 mx-lg-5 py-3 text-center"> *@
    @*             <a href="https://commercial.abp.io/" target="_blank">ABP Commercial</a> is a platform based on the open source ABP framework. It provides pre-built application modules, *@
    @*             rapid application development tooling, professional UI themes, premium support and more. *@
    @*         </p> *@
    @* *@
    @*         <div class="row text-center justify-content-md-center"> *@
    @*             <div class="col-lg-2"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Startup Templates *@
    @*                         <a href="https://commercial.abp.io/startup-templates?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-2 border-start"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Application Modules *@
    @*                         <a href="https://commercial.abp.io/modules?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-2 border-start"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Developer<br />Tools *@
    @*                         <a href="https://commercial.abp.io/tools?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-2 border-start"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> UI<br /> Themes *@
    @*                         <a href="https://commercial.abp.io/themes?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-2 border-start"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Premium Support *@
    @*                         <a href="https://support.abp.io/QA/Questions?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="col-lg-2 border-start"> *@
    @*                 <div class="p-3"> *@
    @*                     <h6> *@
    @*                         <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Additional Services *@
    @*                         <a href="https://commercial.abp.io/additional-services?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a> *@
    @*                     </h6> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="https://twitter.com/abpframework" target="_blank" class="mx-2"><i class="fab fa-twitter"></i><span class="text-secondary"> Abp Framework</span></a>
            <a href="https://twitter.com/abpcommercial" target="_blank" class="mx-2"><i class="fab fa-twitter"></i><span class="text-secondary"> Abp Commercial</span></a>
            <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fab fa-github"></i><span class="text-secondary"> abpframework</span></a>
        </p>
    </div>
</div>
